SOAP/consumidorSOAP/xml-resources/web-service-references/WebServiceRockPaperScissors/wsdl/localhost_8080/backendSOAP/WebServiceRockPaperScissors.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rockpaperscissors/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rockpaperscissors/" name="WebServiceRockPaperScissors">
<types>
<xsd:schema>
<xsd:import namespace="http://rockpaperscissors/" schemaLocation="http://localhost:8080/backendSOAP/WebServiceRockPaperScissors?xsd=1"/>
</xsd:schema>
</types>
<message name="consultarEstatPartida">
<part name="parameters" element="tns:consultarEstatPartida"/>
</message>
<message name="consultarEstatPartidaResponse">
<part name="parameters" element="tns:consultarEstatPartidaResponse"/>
</message>
<message name="jugarPartida">
<part name="parameters" element="tns:jugarPartida"/>
</message>
<message name="jugarPartidaResponse">
<part name="parameters" element="tns:jugarPartidaResponse"/>
</message>
<message name="iniciarPartida">
<part name="parameters" element="tns:iniciarPartida"/>
</message>
<message name="iniciarPartidaResponse">
<part name="parameters" element="tns:iniciarPartidaResponse"/>
</message>
<message name="acabarJoc">
<part name="parameters" element="tns:acabarJoc"/>
</message>
<message name="acabarJocResponse">
<part name="parameters" element="tns:acabarJocResponse"/>
</message>
<message name="moureJugador">
<part name="parameters" element="tns:moureJugador"/>
</message>
<message name="moureJugadorResponse">
<part name="parameters" element="tns:moureJugadorResponse"/>
</message>
<portType name="WebServiceRockPaperScissors">
<operation name="consultarEstatPartida">
<input wsam:Action="http://rockpaperscissors/WebServiceRockPaperScissors/consultarEstatPartidaRequest" message="tns:consultarEstatPartida"/>
<output wsam:Action="http://rockpaperscissors/WebServiceRockPaperScissors/consultarEstatPartidaResponse" message="tns:consultarEstatPartidaResponse"/>
</operation>
<operation name="jugarPartida">
<input wsam:Action="http://rockpaperscissors/WebServiceRockPaperScissors/jugarPartidaRequest" message="tns:jugarPartida"/>
<output wsam:Action="http://rockpaperscissors/WebServiceRockPaperScissors/jugarPartidaResponse" message="tns:jugarPartidaResponse"/>
</operation>
<operation name="iniciarPartida">
<input wsam:Action="http://rockpaperscissors/WebServiceRockPaperScissors/iniciarPartidaRequest" message="tns:iniciarPartida"/>
<output wsam:Action="http://rockpaperscissors/WebServiceRockPaperScissors/iniciarPartidaResponse" message="tns:iniciarPartidaResponse"/>
</operation>
<operation name="acabarJoc">
<input wsam:Action="http://rockpaperscissors/WebServiceRockPaperScissors/acabarJocRequest" message="tns:acabarJoc"/>
<output wsam:Action="http://rockpaperscissors/WebServiceRockPaperScissors/acabarJocResponse" message="tns:acabarJocResponse"/>
</operation>
<operation name="moureJugador">
<input wsam:Action="http://rockpaperscissors/WebServiceRockPaperScissors/moureJugadorRequest" message="tns:moureJugador"/>
<output wsam:Action="http://rockpaperscissors/WebServiceRockPaperScissors/moureJugadorResponse" message="tns:moureJugadorResponse"/>
</operation>
</portType>
<binding name="WebServiceRockPaperScissorsPortBinding" type="tns:WebServiceRockPaperScissors">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarEstatPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="jugarPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="iniciarPartida">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="acabarJoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moureJugador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceRockPaperScissors">
<port name="WebServiceRockPaperScissorsPort" binding="tns:WebServiceRockPaperScissorsPortBinding">
<soap:address location="http://localhost:8080/backendSOAP/WebServiceRockPaperScissors"/>
</port>
</service>
</definitions>